.tableWrap {
    display: block;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.table {
    text-align: center;
}

.bar:before {
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: .7;
}

.spinnerContainer {
    display: flex;
    justify-content: center;
    margin: 0px 0px 15px 0px;
}

.disclaimer {
    text-align: center;
}

.paginationControl {
    padding: 0px;
    margin: 0px auto !important;
    max-width: 340px;
    text-align: center;
}